*{
    font-family: 'Open Sans', sans-serif;
}
html{
    background-color: #323544;
}
small{
    font-size: 10px;
}
h1{
    font-size: 16px;
}
nav{
    background-color: #1E202B;
    color: white;
}
nav ul li a{
    border: 2px solid transparent;
}
.home{
    border: 2px solid #009ad8;
    color: #009ad8 !important;
    border-radius: 30px;
}
nav ul li a:hover{
    border: 2px solid #009ad8;
    color: #009ad8 !important;
    border-radius: 30px;
}
.background{
    background-image: url(../images/banner.png);
    background-size: cover;
    height: 350px;
}
input[type=text]{
    background-color:#1E202B ;
    border: none;
    padding: 30px;
}
input[type=text]:focus{
    box-shadow: none;
    background-color: #1E202B;
}
#find{
    top: 29px;
    right: 5px;
    border: none;
    background-color:#009ad8 ;
    color: white;
    padding: 13 40px;
}
#temp{
    font-size: 90px;
    line-height:135px
}
.empty{
    background-color: #1E202B;
}
.day{
    background-color: rgba(0, 0, 0, 0.1);
}
.next{
    background-color: rgba(0, 0, 0, 0.1);
}

.today{
    background-color: #323544;
}
.next-day{
    background-color: #262936;
}

.light{
    color: #bfc1c8;
    font-weight: 300;
    font-size: 16px;
}
.sec3{
    background-color: #1E202B;
}
.sec3 .row .col-lg-4{
    margin-top: -150px;
    margin-bottom: 50px;
}
.sec4{
    background-color: #323544;
}
#subscribe{
    top: 52px;
    right: 5px;
    border: none;
    background-color:#009ad8 ;
    color: white;
    padding: 14 16px;
}
.sec4 a{
    text-decoration: none;
    color:#019AD8 ;
}
.brder{
    width: 39.5px;
    height: 40px;
    margin-left: 5px;
    background-color: #1E202B;
    padding: 11px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brder:hover{
    background-color:#019AD8 ;
}
.brder:hover a i{
    color: white;
}

@media screen and (max-width:1000px) {
    .sec3 .row .col-lg-4{
        margin: 0 0 10 0;
    } 
}
